@model EFShopMeYeuBe.Models.HoaDon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NgayLapHd" class="control-label"></label>
                <input asp-for="NgayLapHd" class="form-control" />
                <span asp-validation-for="NgayLapHd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNv" class="control-label">Tên nhân viên</label>
                <select asp-for="MaNv" class ="form-control" asp-items="ViewBag.MaNv"></select>
            </div>
          <div class="form-group">
           <!--     <label asp-for="MaNv" class="control-label">Tên nhân viên</label>
                <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select> -->
               <label asp-for="MaKh" class="control-label">Tên khách hàng</label>
                <select asp-for="MaKh" class ="form-control" asp-items="ViewBag.MaKh"></select>  
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
