@model EFShopMeYeuBe.Models.SanPham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.MaSp" />
            <input type="hidden" asp-for="MaSp" />
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthaikinhdoanh" class="control-label"></label>
                <input asp-for="Trangthaikinhdoanh" class="form-control" />
                <span asp-validation-for="Trangthaikinhdoanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label"></label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNcc" class="control-label"></label>
                <select asp-for="MaNcc" class="form-control" asp-items="ViewBag.MaNcc"></select>
                <span asp-validation-for="MaNcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHang" class="control-label"></label>
                <select asp-for="MaHang" class="form-control" asp-items="ViewBag.MaHang"></select>
                <span asp-validation-for="MaHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiSp" class="control-label"></label>
                <select asp-for="MaLoaiSp" class="form-control" asp-items="ViewBag.MaLoaiSp"></select>
                <span asp-validation-for="MaLoaiSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
