@model EFShopMeYeuBe.Models.ChiTietSanPham

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChiTietSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Err != null)
            {
                <label>@ViewBag.Err</label>
                <br />
            }
            @Html.HiddenFor(m => m.MaSpNavigation.MaSp)
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"></label>
                <select asp-for="MaSp" class ="form-control" asp-items="ViewBag.MaSp"></select>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTheoSize" class="control-label"></label>
                <input asp-for="SoLuongTheoSize" class="form-control" />
                <span asp-validation-for="SoLuongTheoSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
